<div id="content" class="container">
</div>
<script>
  <% if current_user  %>
	  var currentUserID = <%= current_user.id %>;
	<% else %>
	  var currentUserID = null
	<% end %>
	
  $(function () {
    // put stuff here
  });
</script>
