<body class="sign-in">
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">	
		<h1 class="white-text">Sign In</h1>		
    <form action="<%= session_url %>" method="post">
      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

      <div class="form-group">
      <label for="user_username">Username</label>
      <input
         id="user_username"
         class="form-control"
         name="user[username]"
         type="text">
      </div>

      <div class="form-group">
      <label for="user_password">Password</label>
      <input
         id="user_password"
         class="form-control"
         name="user[password]"
         type="password">
      </div>

      <button type="submit" class="btn btn-primary login">Log In</button>
			<br>
    </form>
		<br>
		<div>
			<button 
			  type="button" 
				class="btn btn-lg btn-success guest-login">
				  Guest User
			</button>
			
			<script>
			$(".guest-login").click( function () {
				$("#user_username").val("Guest");
				$("#user_password").val("password");
				$(".login").trigger("click");
			});
			</script>
		</div>
	</div>
</div>
</body>