<div class="well well-sm user-food-item">
	<button type="button" class="btn btn-danger btn-sm pull-right remove-food-button">Remove Food</button>
	<div class="user-food-item-info">
		<h4 class="user-food-item-name"><%= user_food_item.foodItem().escape('item_name') %>
		</h4>
		<p class="user-food-item-calories">Calories: <%= user_food_item.foodItem().escape('calories') %>
		</p>
  </div>
</div>