<h1>Meals</h1>
<div class="row">
	<% meals.each(function(meal) { %>
		<div id="meal-label" class="col-xs-3">
			<h2>
				<a class="meal-link" href="#/meals/<%= meal.escape('id') %>">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    <%= meal.escape('title') %>
						</div>
					</div>
				</a>
			</h2>
		</div>
	<% }); %>
</div>
<br>
<a href="#/meals/new">
	<button type="button" class="btn btn-primary btn-md">
	  <span class="glyphicon glyphicon-plus"></span> Add Meal
	</button>
</a>