<div id="friend-search-panel" class="inactive col-xs-6 panel panel-default">
</div>

<!-- <% users.each(function(user) { %>
	<li>
		<div class="well well-sm friend-show">
			<p><%= user.escape('username') %></p>
			<span class="add-friend">
				<button type="button" class="btn btn-success btn-sm pull-right add-friend-button">Add Friend</button>
			</span>
		</div>
	</li>
<% }) %> -->

	<!-- <ul id="friend-search-results">
	</ul> -->

	
