<div class="row">
  <div class="status-column col-xs-7 col-xs-offset-1">
		<div class="panel panel-primary daily-summary">
		<div class="panel-heading">
			<h4>Daily Summary for <%= user.escape('username') %></h4>
		</div>
			<div class="panel-body daily-summary-body">
				<div class="profile-picture" style="width:120px;height:120px;background-color:#ffcc00;float:left">
					<p>Profile picture!</p>
				</div>
				
				<div class="total-calories">
					0
				</div>
				
				<div class="btn btn-default btn-lg add-food pull-right">
					Add Food
				</div>
				
				<div id="calories-progress" class="progress progress-striped active">
				  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>

			</div>	
		</div>
		
		<div class="panel panel-primary news-feed">
			<div class="panel-heading">News Feed
			</div>
			<div class="panel-body news-feed-body">
				<div class="input-group comment-text-field">
				  <textarea class="form-control">Share something!
					</textarea>
				</div>
				<div class="input-group submit-comment">
				  <input type="submit" class="button btn-default form-control pull-right">
				</div>	
			</div>
		</div>
		
  </div>
</div>

		<!-- <div class="input-group" id="search-food-by-name">
			<input type="text" id="food-search-term" class="form-control">
		</div> -->
<!-- 	<h4>Search Foods</h4> -->
			<!-- <div class="input-group">
			  <input type="submit" id="submit-food-search" class="btn btn-primary" value="Add Food">
			</div> -->
<!-- <div class="row">
	<div id="food-search-panel" class="inactive col-xs-6 panel panel-default">
		<ul id="food-search-results">
		</ul>
	</div>
</div> -->