<div class="row">
  <h1>Daily Summary for <%= user.escape('username') %></h1>
	  <div class="col-xs-8">
			<p>Form goes here</p>
		</div>
		<div class="col-xs-4">
			<p>Sidebar stuff goes here</p>
		</div>
</div>