<div class="user-home-page">
	<div class="nav-column col-xs-8 col-xs-offset-2">
	  <%= JST['users/show/nav']({ user: user }) %>
	</div>
	
	<div class="row">
		<div class="status-column col-xs-8 col-xs-offset-2">
		  <%= JST['users/show/main']({ user: user })%>
		</div>
	</div>
	
</div>