<div class="user-home-page">
	<%= JST['users/show/nav']({ user: user }) %>
	
	<div class="row">
		<div class="status-column col-xs-7 col-xs-offset-1">
		  <%= JST['users/show/main']({ user: user })%>
		</div>
	</div>
	
</div>