<h1>Find Friends</h1>

<row>
  <div class="col-xs-6">
	  <form role="form" id="search-friends">
		  <div class="form-group" id="search-friends-by-name">
				<label for="friend-search-term">Enter Friend Name</label>
			  <input type="text" id="friend-search-term" class="form-control" placeholder="Who d'ya wanna eat with?">
			</div>

			<div class="form-group">
			  <input type="submit" id="submit-friend-search" class="btn btn-primary" value="Search for Friend!">
			</div>
	  </form>
	</div>
	
	<div class="col-xs-6">
		<div class="friend-search-results">
		</div>
  </div>
</row>