<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
		<%= JST["users/friends/leaderboard/nav"]({ user: user }) %>
	</div>
	
	<div class="row">
		<div class="status-column col-xs-8 col-xs-offset-2">
		  <%= JST['users/friends/leaderboard/main']({ user: user })%>
		</div>
	</div>
	
</div>