<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
		<div class="panel panel-primary search-friends-panel">
			<div class="panel-heading">
				<h1>Find Friends</h1>
			</div>
			
			<div class="panel-body search-friends-panel-body">
			  <form role="form" id="search-friends">
				  <div class="form-group" id="search-friends-by-name">
						<label for="friend-search-term">Enter Friend Name</label>
					  <input type="text" id="friend-search-term" class="form-control" placeholder="Who d'ya wanna eat with?">
					</div>
			  </form>
				<div class="friend-search-results">
				</div>
			</div>
		</div>
	</div>
</div>