<div class="well well-sm friend-result">
	<p>			<a href="#/users/<%= friend.escape('id') %>"><%= friend.escape('username') %></a></p>
	<p>  </p>
	<% if (alreadyFriend) { %>
		<span class="already-friends-with pull-right">
				<button type="button" class="btn btn-info btn-sm pull-right remove-friend">Already friends!</button>
		</span>
	<% } else { %>
		<span class="add-friend">
			<button type="button" class="btn btn-success btn-sm pull-right add-friend-button">Add Friend</button>
		</span>
	<% } %>
</div>