<h1>Search Foods</h1>

<div class="row">
	<div class="col-xs-6">

		<form role="form" id="search-foods">
			<div class="form-group" id="search-food-by-name">
				<label for="search-food-term">Enter Food</label>
			  <input type="text" id="food-search-term" class="form-control" placeholder="What'd you eat?">
			</div>

			<div class="form-group">
			  <input type="submit" id="submit-food-search" class="btn btn-primary" value="Search for Food">
			</div>
		</form>
		
	</div>
</div>


<div class="row">
	<div class="col-xs-6">

		<div class="food-search-results">
		</div>
		
	</div>
</div>

<!-- <div class="row">
	<div id="food-search-panel" class="inactive col-xs-6 panel panel-default">
		<ul id="food-search-results">
		</ul>
	</div>
</div> -->