<h4>Search Foods</h4>

<div class="input-group" id="search-food-by-name">
  <input type="text" id="food-search-term" class="form-control">
</div>

<div class="input-group">
  <input type="submit" id="submit-food-search" class="btn btn-primary" value="Search for Food">
</div>

<div class="row">
	<div id="food-search-panel" class="inactive col-xs-6 panel panel-default">
		<ul id="food-search-results">
		</ul>
	</div>
</div>