<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="panel panel-success search-foods-panel">
			<div class="panel-heading">
				<h1 class="dark-green-text">Search Foods</h1>
			</div>
			
			<div class="panel-body search-foods-panel-body">
				<form role="form" id="search-foods">
					<div class="form-group" id="search-food-by-name">
						<label for="search-food-term">Enter Food</label>
					  <input type="text" id="food-search-term" class="form-control" placeholder="What'd you eat?">
					</div>

					<div class="form-group">
					  <input type="submit" id="submit-food-search" class="btn btn-primary" value="Search for Food">
					</div>
					<div id="message"></div>
				</form>

				<div class="food-search-results">
				</div>
			</div>		
		</div>
	</div>
</div>