<div class="well well-sm food-item">
		<button type="button" class="btn btn-success btn-sm pull-right add-food-button">Add Food</button>
	<div class="food-item-info">
		<h4 class="food-item-name"><%= food_item.item_name %></h4>
		<p class="food-item-calories">Calories: <%= food_item.calories %></p>
  </div>
</div>

<div class="modal fade" id="<%= food_item.id %>-nutrition-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="nutrition-info-label"><%= food_item.item_name %></h4>
      </div>
      <div class="modal-body">
        <p>Body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>