<div class="tab-pane fade in" id="exercise">
	<div class="panel panel-danger exercise-panel">
		<div class="panel-heading">
	    <h4>Exercise</h4>
		</div>
		<div class="panel-body exercise-panel-body">
	    <p>Are you kidding? Burn all those precious calories that you EARNED?</p>
		</div>
	</div>
</div>