<div class="tab-pane fade in" id="exercise">
	<div class="panel panel-danger exercise-panel">
		<div class="panel-heading">
	    <h4>Exercise</h4>
		</div>
		<div class="panel-body exercise-panel-body">
	    <h4 class="bold-red">Are you kidding?</h4>
			<p class="large-p">Burn all those precious calories that you EARNED?</p>
			<p>Here, have this sandwich instead.</p>
		</div>
		<div class="row">
			<div class="column col-xs-8 col-xs-offset-2">
				<div class="sandwich-image">
					<img class="sandwich" src="assets/sandwich.png">
				</div>
			</div>
		</div>
	</div>
</div>