<div class="tab-pane fade in" id="food">
	<div class="panel panel-success user-food-list">
		<div class="panel-heading">
			<h4>Your Foods</h4>
		</div>
		
		<div class="panel-body food-diary-body">
			<p>You haven't eaten anything today!</p>
		</div>
	</div>
</div>