<div class="tab-pane fade in" id="friends">
	<div class="panel panel-info user-friend-list">
		<div class="panel-heading">
			<h4>Your Friends</h4>
		</div>
		
		<div class="panel-body friends-body">
			<p>You hear crickets softly chirping.</p>
		</div>
	</div>
</div>