<div class='tab-content'>
	<%= JST["users/show/home"]({ user: user }) %>

  <%= JST["users/show/food"]({ user: user }) %>

  <%= JST["users/show/exercise"]() %>
	
	<%= JST["users/show/reports"]({ user: user}) %>
</div>