<ul class="nav nav-tabs">
  <li class="active">
		<a href="#home" data-toggle="tab">Home</a>
	</li>
	
  <li>
		<a href="#food" data-toggle="tab">Food</a>
	</li>
	
  <li>
		<a href="#exercise" data-toggle="tab">Exercise</a>
	</li>
	
	<li>
		<a href="#reports" data-toggle="tab">Reports</a>
	</li>
</ul>