<div class='tab-pane fade in' id='weekly'>
	<div class="panel panel-primary leaderboard-panel">
		<div class="panel-heading">
			<h1>Standings for the Week</h1>
		</div>
		
		<div class="panel-body leaderboard-panel-body">
			<div class="friend-leaderboard">
			</div>
		</div>
	</div>
</div>