<div class='tab-pane active fade in' id='daily'>
	<div class="panel panel-primary leaderboard-panel">
		<div class="panel-heading">
			<h1>Standings for Today</h1>
		</div>
		
		<div class="panel-body leaderboard-panel-body">
			<div class="daily-leaderboard">
				<% leaders.each( function(leader) { %>
					<p><%= leader.escape('username') %></p>
				<% }) %>
			</div>
		</div>
	</div>
</div>