<div class="well well-sm daily-leader-show">
	<div class="user-profile-img">
	  <img src= "<%= leader.gravatar() %>">
	</div>
	<div class="leader-name">
		<p><%= leader.escape('username') %></p>
	</div>
	
	<div class="leader-calories">
		<%= leader.escape('daily_calories') %>
	</div>
	<span class="view-profile">
		<a href="#/users/<%= leader.escape('id') %>"><button type="button" class="btn btn-info btn-lg pull-right view-profile-button">View Profile</button></a>
	</span>
</div>