<div class="well well-sm leader-show">
	<div class="user-profile-img">
	  <img src= "<%= leader.gravatar() %>">
	</div>
	<p><%= leader.escape('username') %></p>
	<span class="view-profile">
		<a href="#/users/<%= leader.escape('id') %>"><button type="button" class="btn btn-info btn-lg pull-right view-profile-button">View Profile</button></a>
	</span>
</div>