/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
/*@import "bootswatch/spacelab/variables";
@import "bootstrap";
@import "bootswatch/spacelab/bootswatch";*/
@import url(http://fonts.googleapis.com/css?family=Gorditas);

/* authentication pages and application layout */

.sign-up {
	color:white;
	background: image_url('background-fries.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.sign-in {
	color:white;
	background: url('background-pizza.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul {
	list-style-type: none;
}

.navbar-brand {
  font-family: 'Gorditas', cursive;
	font-weight: bold;
	font-size: 25px;
	line-height: 20px;
	color: #3eb24f;
	letter-spacing: -1px;
	size: 150%;
}

/* utility classes */

.dark-green-text {
	color: #006400;
}

.dark-blue-text {
	color: #000080;
}

.gold-text {
	color: #FFD700;
}

.white-text {
	color: white;
}

.no-padding {
	padding: 0px;
}

/* dashboard and user show */

.header-icon {
	float: left;
	margin-top: 8px;
	margin-right: 20px;
}

.status-column {
	padding: 10px;
}

.news-feed {
	min-height: 100px;
	max-height: 500px;
	overflow-y: hidden;
}

.daily-report {
	margin-left:5px;
	min-height: 500px;
	max-height: 500px;
	overflow-y: hidden;
}

.news-feed-header {
	margin: 0px 0px 0px 0px;
	height: 130px;
	border-style: solid;
	border: 3px gray;
	background: #F5F5F5;
}

.news-feed-comments {
	margin: 0;
	background: #F5F5F5;
	padding: 10px;
	max-height: 400px;
	width: 100%;
	overflow-y: hidden;
	overflow-y: scroll;
}

.comment-body {
	float: left;
}

.comment {
	background: white;
	color: black;
}

.news-feed-form {
	margin: 0px 0px 20px 0px;
}

.share-comment {
	float: left;
}

.submit-comment {
/*	float: left;
	position: relative;
	top: -55px;*/
}

.comment-text-field {
  min-width:280px; 
  max-width:280px; 

  min-height:100px;  
  max-height:100px;
}

.profile-picture {
	margin-right: 15px;
}

#calories-progress {
	width: 65%;
}

#delicious-calories {
	line-height: 2em;
	color: #999;
}

.daily-summary-body {
	padding: 10px;
}

.daily-report-body {
	background: #F5F5F5;
}

.pie-chart {
	position: relative;
	top: 30px;
	left: 30px;
}

.total-calories {
	display: block;
	font-weight: bold;
	font-size: 45px;
	line-height: 40px;
	color: #3eb24f;
	letter-spacing: -1px;
	margin: 15px 0 0 20px;
}

.user-food-item {
	position: relative;
}

.user-food-item:hover .remove-food-button {
	left: 0px;
}

.user-food-list {
	min-height: 300px;
	max-height: 700px;
	overflow-y: hidden;
}

.food-diary-body {
	max-height: 500px;
	overflow-y: hidden;
	overflow-y: scroll;
}

.remove-food-button {
	position: relative;
	left: 200px;
	margin-top: 16px;
	margin-right: 5px;
	-webkit-transition: left .4s ease-out;
	-moz-transition: left .4s ease-out;
	-o-transition: left .4s ease-out;
}

/* food search and results */

.food-item {
	position: relative;
	height: 80px;
}

.food-item:hover .add-food-button {
	left: 0px;
}

#food-search-panel {
	padding: 10px;
	margin: 10px;
	overflow: hidden;
}

#food-search-term {
	width: 30%;
}

.add-food-item {
}

.food-item-info {
	float: left;
}

.food-item-name {
	color: #446e9b;
}

.search-foods-panel {
	min-height: 300px;
	max-height: 700px;
	overflow-y: hidden;
}

.food-search-results {
	max-height: 500px;
	overflow-y: hidden;
	overflow-y: scroll;
}

.add-food {
  float: left;
}

.add-food-button {
	position: relative;
	left: 200px;
	margin-top: 16px;
	margin-right: 5px;
	-webkit-transition: left .4s ease-out;
	-moz-transition: left .4s ease-out;
	-o-transition: left .4s ease-out;
}

/* friend search and results */

#friend-search-term {
	width: 30%;
}

.search-friends-panel {
	min-height: 300px;
	max-height: 700px;
	overflow-y: hidden;
}

.friend-search-results {
	max-height: 500px;
	overflow-y: hidden;
	overflow-y: scroll;
}

.view-profile-button {
	margin-top: 30px;
}

.friend-result {
	padding: 10px;
	margin: 10px;
}

.add-friend-button {
	position:relative;
	top: -30px;
}

.already-friends-with {
	position:relative;
	top: -30px;
}

/* graphs and reports */

.slice text {
 font-size: 12pt;
 font-family: Arial;
}


/* leaderboards */

.leader-info {
	display: inline-block;
	float: left;
}

.leader-calories {
	display: inline-block;
	font-weight: bold;
	font-size: 60px;
	line-height: 40px;
	color: #3eb24f;
	letter-spacing: -1px;
	margin-top: 50px;
	margin-left: 200px;
}

.daily-leader-show {
	height: 200px;
	padding: 15px;
}

.leaderboard-panel-body {
	max-height: 800px;
	overflow-y: hidden;
	overflow-y: scroll;
}

/* Footer */

.navbar-bottom {
	margin-bottom: 0;
	margin-top: 20px;
}