/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Gorditas);

/*.inactive {
	display: none;
}*/

.sign-up {
	color:white;
	background: image_url('background-fries.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.sign-in {
	color:white;
	background: url('background-pizza.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul {
	list-style-type: none;
}

.navbar-brand {
  font-family: 'Gorditas', cursive;
	font-weight: bold;
	font-size: 25px;
	line-height: 20px;
	color: #3eb24f;
	letter-spacing: -1px;
	size: 150%;
}

.no-padding {
	padding: 0px;
}

.status-column {
	padding: 10px;
}

.add-food {
  float: left;
}

.view-profile-button {
	position: relative;
	top: -80px;
	left: -10px;
}

.add-food-button {
	position:relative;
	top: -40px;
}

.friend-result {
	padding: 10px;
	margin: 10px;
}

.add-friend-button {
	position:relative;
	top: -30px;
}

.already-friends-with {
	position:relative;
	top: -30px;
}

.remove-food-button {
	position:relative;
	top: -40px;
}

#food-search-panel {
	padding: 10px;
	margin: 10px;
}

.news-feed {
	min-height: 100px;
	max-height: 500px;
	overflow-y: hidden;
}

.news-feed-comments {
	max-height: 400px;
	overflow-y: hidden;
	overflow-y: scroll;
}

.news-feed-form {
	margin: 0px 0px 20px 0px;
}

.share-comment {
	float: left;
}

.submit-comment {
	float: left;
	position: relative;
	top: -55px;
}

.comment-text-field {
	float: left;
  width: 300px; 
  min-width:300px; 
  max-width:300px; 

  height:100px; 
  min-height:100px;  
  max-height:100px;
}

#calories-progress {
	position: relative;
	top: 90px;
	left: -10px;
}

.daily-summary-body {
	padding: 10px;
}

.pie-chart {
	position: relative;
	top: 30px;
	left: 30px;
}

.total-calories {
	font-weight: bold;
	font-size: 45px;
	line-height: 40px;
	color: #3eb24f;
	letter-spacing: -1px;
	margin: 0 0 0 20px;
	float: left;
}

.slice text {
 font-size: 12pt;
 font-family: Arial;
}   